
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300&family=Poppins:wght@400;500;600;700&family=Shantell+Sans:ital,wght@1,300&display=swap');
* {
  font-family: "Poppins", sans-serif;
}

.navbar .navbar-brand {
  font-size: 30px;
}
.navbar .nav-item {
  padding: 10px 20px;
}
.navbar .nav-link {
  font-size: 20px;
  margin-left: 10px;
}
.fa-bars {
  color: #69a6e8;
  font-size: 30px;
}
